.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__container {
  width: 100%;
  height: 3rem;
  background: linear-gradient(180deg, lavenderblush 0%, white 100%);
  text-align: center;
  box-shadow: 0 4px 4px #0000001a;
}

.nav__bar {
  padding: 0.61rem 0;
  font-size: 1.5rem;
}

p {
  text-decoration: underline;
  font-size: 1.1rem;
}

.image__list__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image__card {
  width: 16rem;
  height: 14rem;
  margin: 10px;
}

img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  box-shadow: 0 0 5px #0000004d;
  border-radius: 10px;
}

.image__card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.result__text {
  text-align: center;
  font-size: 2rem;
}

.result__Container {
  margin-top: 2rem;
}
